[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
holamundoplayerrbardalp = "*"
sendgrid = "*"
twilio = "*"
beautifulsoup4 = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.12"
